* {
    box-sizing: border-box;
    margin: 0px;
    padding: 5px;
  }

:root {
    --primary-color: white ;
    --secondary-color: #000; 
    --tertiary-color: silver; 
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Copperplate, Papyrus, fantasy;
}

/* HEADER styles start */

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
}

header h1 {
    margin-bottom: 30px;
    text-align: center;
}

header a {
    display: flex;
    flex-wrap: wrap;
    font-weight: lighter;
    font-size: 60px;
    text-decoration: none;
    color: var(--secondary-color);
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;

}
/* HEADER styles end */


/* FOOTER styles start */
footer {
    text-align: center;
    color: var(--tertiary-color);
}
/* FOOTER styles end */


/* NAV styles start */

nav {
    position: sticky;
    top: 0; 
    background-color: var(--primary-color);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

nav ul li a {
    margin: 5px;
    padding: 5px;
    font-size: 36px;
    vertical-align: bottom;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: lighter;
}

nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 10px;
}

/* NAV styles end */





/* SECTION TITLE styles start */

.section-title {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: lighter;
    color: var(--tertiary-color);
    text-align: center;
    justify-content: center;
}

/* SECTION TITLE styles end */

/* ABOUT styles start */

.about-kpb {
    display: flex;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
}

.about-kpb img {
    display: flex;
    width: 450px;
    height: 300px;
    margin: 30px;
}

.about-kpb div p {
    display: flex;
    flex-wrap: wrap;
    margin: 30px; 
    font-size: 24px;
    text-align: left;
}

/* ABOUT styles end */

/* PORTFOLIO styles start */
    

/* PORTFOLIO styles end */


/* RESUME styles start */ 

.kpb-resume {
    display: flex;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
}

/* RESUME styles end */ 


/* CONTACT styles start */

.contact-info {
    text-align: center;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    color: var(--tertiary-color);
}

.contact-info address {
    font-style: normal;
    font-weight: lighter;
}

.contact-info address a {
    color: var(--tertiary-color);
}
/* CONTACT styles end */





/* UTILITES start */

/* UTILITIES end */





/* MEDIA QUERY FOR SCREEN SIZE CHANGES start */



/* MEDIA QUERY FOR SCREEN SIZE CHANGES end */