* {
    box-sizing: border-box;
    margin: 0px;
    padding: 5px;
  }

:root {
    --primary-color: white ;
    --secondary-color:grey; 
    --tertiary-color: silver; 
    --fourth-color: black;
}

body {
    color: var(--secondary-color);
    font-family: Copperplate, Papyrus, fantasy;
}

/* HEADER styles start */

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

header h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: lighter;
}

header a {
    display: flex;
    flex-wrap: wrap;
    font-size: 60px;
    text-decoration: none;
    color: var(--secondary-color);
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;

}
/* HEADER styles end */


/* FOOTER styles start */
footer {
    margin: 50px;
    border-top: 2px solid var(--tertiary-color);
    text-align: center;
    color: var(--tertiary-color);
}

footer h2 {
    padding-top: 40px;
    font-size: 30px;
    font-weight: lighter;
}
/* FOOTER styles end */


/* NAV styles start */

nav {
    position: sticky;
    top: 0; 
    background-color: var(--primary-color);
    z-index: 999;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

nav ul li a {
    margin: 5px;
    padding: 5px;
    font-size: 36px;
    vertical-align: bottom;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: lighter;
}

nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 10px;
}

/* NAV styles end */

/* SECTION TITLE styles start */

.section-title {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: lighter;
    color: var(--secondary-color);
    text-align: center;
    justify-content: center;
    padding: 30px;
}

/* SECTION TITLE styles end */

/* HERO BANNER start */
#hero-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 50px 0px 50px;
}

.banner img {
    height: 100%;
    width: 100%;
}

/* HERO BANNER end */


/* ABOUT styles start */
 
#About {
    margin: 50px;
}

.about-kpb {
    display: inline-flex;
    justify-content: center;
    padding: 30px;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
}

.about-kpb img {
    height: 400px;
    width: 315px;
    margin: 30px;
    border-radius: 15px;
}

.about-kpb p {
    position: relative;
    margin: 10px;
    padding: 40px;
    font-size: 30px;
    font-weight: lighter;
}

.about-kpb div p a {
    color: var(--secondary-color);
}

.about-kpb div p a:hover {
    color: var(--fourth-color);
}

/* ABOUT styles end */

/* PORTFOLIO styles start */

#Portfolio {
    margin: 50px;
}

.portfolio-samples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    margin-bottom: 15px;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
}

/* .kpb-portfolio-1 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin-bottom: 15px;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
} */

.kpb-portfolio-1 a {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    color: var(--tertiary-color);
}

.kpb-portfolio-1 a:hover {
    color: var(--fourth-color);
}
.kpb-portfolio-1 img {
    border-radius: 15px;
} 

.kpb-portfolio-2 {
    display: flex;
    flex-wrap: wrap;
    height: 510px;
    width: 600px;
    padding: 15px;
}

.kpb-portfolio-2 a {
    display: flex; 
    flex-direction: column-reverse;
    flex-wrap: wrap;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    color: var(--tertiary-color);
}

.kpb-portfolio-2 a:hover {
    color: var(--fourth-color);
}

.kpb-portfolio-2 img {
    border-radius: 15px;
}

.kpb-portfolio-3 {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    padding: 15px;

}

.kpb-portfolio-3 a {
    display: flex; 
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    color: var(--tertiary-color);
}

.kpb-portfolio-3 a:hover {
    color: var(--fourth-color);
}

.kpb-portfolio-3 img {
    display: flex; 
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
} 






/* PORTFOLIO styles end */


/* RESUME styles start */ 

#Resume {
    margin: 50px;
    padding-top: 20px;
}

.kpb-resume {
    text-align: center;
    font-style: normal;
    font-weight: lighter;
}

.kpb-resume a {
    color: var(--tertiary-color);
    font-size: 24px;
    font-style: normal;
    font-weight: lighter;
}

.kpb-resume a:hover {
    color: var(--fourth-color);
}



/* RESUME styles end */ 


/* CONTACT styles start */

#Contact {
    margin: 50px;
    padding-top: 20px;
    border-top: 2px solid var(--tertiary-color);
}

.contact-info {
    text-align: center;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    color: var(--tertiary-color);
}

.contact-info address {
    font-style: normal;
    font-weight: lighter;
}

.contact-info address a {
    color: var(--tertiary-color);
}

.contact-info address a:hover {
    color: var(--fourth-color);
}
/* CONTACT styles end */





/* UTILITES start */

/* UTILITIES end */





/* MEDIA QUERY FOR SCREEN SIZE CHANGES start */
@media screen and (max-width:  900px) {
    .about-kpb { 
        flex-direction: column 
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
   .kpb-portfolio-2 {
       height: 425px;
   }

   .about-kpb {
       align-items: center;
   }

   .about-kpb p {
       text-align: center;
   }
}


/* MEDIA QUERY FOR IPHONE 6-10, GALAXY S5, MOTO */
@media screen and (max-width: 411px) {
    
    header h1 {
        padding-left: 20px;
        width: 95%;
    }

    header a {
        font-size: 40px;
    }

    nav {
        width: 100%;
        padding-left: 30px;
    }

    #hero-img {
        width: 80%;
    }

    .banner img {
        width: 350px;
    }

    #About {
        width: 80%;
        margin-top: 0px;
    }

      .about-kpb {
      width: 100%;
    }  

    .about-kpb img {
        height: 300px;
        width: 250px;
    }

    #Portfolio {
        width: 80%;
    }


    .kpb-portfolio-2 {
        height: 200px;
    }
   

    #Resume {
        width: 80%;
    }

    #Contact {
        width: 80%;
    }

    .contact-info {
    display: flex;
    justify-content: center;
    font-size: 25px;
    }   

    footer {    
        width: 80%;
    }
}

/* MEDIA QUERY FOR IPHONE 5 AND OTHERS ALIKE */
@media screen and (max-width: 320px) {

    header h1 {
        padding-left: 60px;
        width: 100%;
    }

    header a {
        font-size: 25px;
    }

    nav {
        width: 100%;
        padding: 0px;
        margin: 30px;
    }

    #hero-img {
        padding-left: 25px;
        width: 80%;
    }

    .banner img {
        width: 350px;
    }

    #About {
        width: 85%;
        margin-top: 0px;
    }

      .about-kpb {
      width: 100%;
    }  

    .about-kpb p {
        font-size: 20px;
    }

    .about-kpb img {
        height: 250px;
        width: 200px;
    }

    #Portfolio {
        width: 85%;
    }


    .kpb-portfolio-2 {
        height: 175px;
    }
   

    #Resume {
        width: 80%;
    }

    #Contact {
        width: 80%;
    }

    .contact-info {
    display: flex;
    justify-content: center;
    font-size: 25px;
    }   

    footer {    
        width: 80%;
    }
}
/* MEDIA QUERY FOR SCREEN SIZE CHANGES end */